.hamburger-button {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  border: none;
  padding: 0;
  margin: 0;

  background-image: url(../images/hamburger-button.png);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.hamburger-button:hover {
  opacity: 0.5;
}
